<div class="grid h-full gap-2">
  <div class="flex items-center justify-around gap-4 flex-wrap">
    <button
      [matTooltip]="
        serialConnected
          ? 'Disconnect from serial device'
          : 'Connect to serial device'
      "
      type="button"
      class="w-28"
      (click)="connectDisconnect.emit()"
    >
      {{ serialConnected ? "Disconnect" : "Connect" }}
    </button>

    <button
      type="button"
      class="w-16"
      (click)="startStop.emit()"
      [disabled]="!serialConnected"
    >
      {{ printActive ? "Stop" : "Start" }}
    </button>

    <div class="flex gap-2 flex-wrap">
      <label for="dir" class="pointer-events-none">Direction:</label>
      <select
        id="dir"
        [(ngModel)]="animationType"
        (ngModelChange)="animationTypeChange.emit($event)"
      >
        <option value="left">right -> left</option>
        <option value="up">down -> up</option>
        <option value="no">no scrolling</option>
      </select>
    </div>
  </div>

  <div class="flex items-center flex-wrap gap-2">
    <label for="slider">Speed: </label>
    <mat-slider min="0.05" max="1" step="0.01" class="flex-auto">
      <input
        id="slider"
        [value]="printSpeed"
        matSliderThumb
        (input)="sliderChange($event)"
      />
    </mat-slider>
  </div>
</div>
