@use '@angular/material' as mat;
@include mat.core();

$web-app-primary: mat.define-palette(mat.$grey-palette);
$web-app-accent: mat.define-palette(mat.$blue-grey-palette);

$web-app-theme: mat.define-light-theme((
  color: (
    primary: $web-app-primary,
    accent: $web-app-accent,
  )
));

@include mat.core-theme($web-app-theme);
@include mat.slider-theme($web-app-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;