@use "@angular/material" as mat;
@include mat.core();

// Codes taken from tailwind gray palette
$primary-palette: (
  50: #f9fafb,
  100: #f3f4f6,
  200: #e5e7eb,
  300: #d1d5db,
  400: #9ca3af,
  500: #6b7280,
  600: #4b5563,
  700: #374151,
  800: #1f2937,
  900: #111827,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$primary: mat.define-palette($primary-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $primary,
    ),
  )
);

@include mat.core-theme($light-theme);
@include mat.slider-theme($light-theme);
@include mat.tooltip-theme($light-theme);

.mdc-tooltip__surface {
  background-color: #374151 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-300;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: min-content;
  min-width: 100%;
}
