<div
  class="flex flex-col items-center justify-evenly gap-2 min-h-screen p-2 sm:py-4 sm:px-6"
>
  <header class="text-2xl sm:text-5xl font-light text-center">
    8x8 LED Matrix Driver
    <a
      href="https://github.com/stopnoanime/led-matrix"
      class="inline-block w-6 sm:w-10"
    >
      <img src="assets/github.svg " />
    </a>
  </header>

  <main
    *ngIf="serial.serialAvailable"
    class="grid w-full max-w-7xl gap-4 sm:grid-cols-2"
  >
    <app-dot-display
      class="row-span-2 card"
      [frameBuff]="print.webFrameBuff"
    ></app-dot-display>

    <app-text-input
      class="card"
      [(text)]="print.text"
      [textOutBefore]="print.textOutBefore"
      [textOutHighlight]="print.textOutHighlight"
      [textOutAfter]="print.textOutAfter"
      [printActive]="print.printActive"
    ></app-text-input>

    <app-settings-menu
      class="card"
      [serialConnected]="serial.serialConnected"
      [printActive]="print.printActive"
      [(animationType)]="print.animationType"
      (printSpeedChange)="print.printSpeed = $event"
      (connectDisconnect)="serial.connectDisconnectUI()"
      (startStop)="print.startStop()"
    ></app-settings-menu>
  </main>

  <span
    id="serialWarning"
    *ngIf="!serial.serialAvailable"
    class="text-2xl font-light text-center"
  >
    Your browser doesn't support the Web Serial API. Try using a different
    browser.
  </span>
</div>
